@mixin xs { @media (max-width: 575px) { @content; } }
@mixin sm { @media (min-width: 576px) and (max-width: 767px) { @content; } }
@mixin md { @media (min-width: 768px) and (max-width: 991px) { @content; } }
@mixin lg { @media (min-width: 992px) and (max-width: 1199px){ @content; } }
@mixin xl { @media (min-width: 1200px) { @content; } }
@mixin min-xs { @content; }
@mixin min-sm { @media (min-width: 576px) { @content; } }
@mixin min-md { @media (min-width: 768px) { @content; } }
@mixin min-lg { @media (min-width: 992px) { @content; } }
@mixin min-xl { @media (min-width: 1200px) { @content; } }
@mixin max-sm { @media (max-width: 575px) { @content; } }
@mixin max-md { @media (max-width: 767px) { @content; } }
@mixin max-lg { @media (max-width: 991px) { @content; } }
@mixin max-xl { @media (max-width: 1199px){ @content; } }
.mobile,.visible-xs { @include min-sm { display: none !important; } }
.hidden-xs { @include xs { display: none !important; } }


html {
	box-sizing: border-box;
	margin: 0 !important;
	padding: 0 !important;
	scroll-behavior: smooth;
}

body {
	color: #252525;
	font: 400 1.4vw/2.4vw 'Open Sans', sans-serif;
	@include xs { font: 400 4vw/6vw 'Open Sans', sans-serif }
	margin:0;
	padding:0;
}

*, *:before, *:after, [tabindex="-1"]:focus {
	box-sizing: border-box;
	outline: 0;
	zoom: 1;
}

body, h1, h2, h3, h4, h5, h6, article, aside, figcaption, figure, footer, header, hgroup, main, nav, section, div, ul, ol, li, img {
	position: relative;
	margin: 0;
	padding: 0;
	font-weight: 400;
}
ol,ul {
	list-style: none;
}
main {
	width: 100%;
	overflow: hidden;
}
img, svg {
	max-width: 100%;
	height: auto;
}
p {
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin: 2vw 0;
	&:first-child { margin-top: 0; }
	&:last-child { margin-bottom: 0; }
	@include xs {
		margin: 4vw 0;
	}
}
a {
	text-decoration: none;
	color: inherit;
}